<% layout('/layouts/boilerplate') %>
<div class="row mt-3">
    <div class="col-8 offset-2">
    <br><br>
<h1>Edit Note</h1>
<form action="/notes/<%= note._id %>?_method=PUT" method="POST" enctype="multipart/form-data" novalidate class="needs-validation">

<div class="mb-3">
    <label for="image" class="form-label">Image Link</label>
    <input type="file" name="image" class="form-control">
    <% if(note.image){ %>
        <img src="<%= note.image %>" width="200">
    <% } %>
    <div class="invalid-feedback">
        Please upload an image.
    </div>
</div>

<div class="mb-3">
    <label for="title" class="form-label">Title</label>
   <input type="text" name="title" value="<%= note.title %>" 
   class="form-control"
   required>
  <div class="invalid-feedback">
    Title is required.
  </div>
</div>

<div class="mb-3">
    <label for="category" class="form-label">Category</label>
    <input type="text" name="category" value="<%= note.category %>" class="form-control" required>
    <div class="invalid-feedback">
        Category is required.
    </div>
</div>

<div class="mb-3">
<label for="description" class="form-label">Description</label>
<textarea name="description" rows="8" cols="50" class="form-control"
required><%= note.description %></textarea>
<div class="invalid-feedback">
    Description is required.
</div>
</div>

<div class="row">
<div class="mb-3 col-md-4"> 
<label for="priority" class="form-label">Priority</label>
<select name="priority" class="form-select" required>
<option value="Low" <%= note.priority==="Low" ? "selected" : "" %>>Low</option>
<option value="Medium" <%= note.priority==="Medium" ? "selected" : "" %>>Medium</option>
<option value="High" <%= note.priority==="High" ? "selected" : "" %>>High</option>
</select>
<div class="invalid-feedback">
    Please select priority.
</div>
</div>
<div class="mb-3 col-md-8">
<label for="status">Status</label>
<select name="status" class="form-select" required>
<option value="Pending" <%= note.status==="Pending" ? "selected" : "" %>>Pending</option>
<option value="In Progress" <%= note.status==="In Progress" ? "selected" : "" %>>In Progress</option>
<option value="Completed" <%= note.status==="Completed" ? "selected" : "" %>>Completed</option>
</select>
</div>
<div class="invalid-feedback">
    Please select status.
</div>
</div>

<button type="submit" class="btn btn-warning">Update Note</button>
</form>
<br>
<a href="/notes" class="btn btn-secondary">Back</a>
<br><br>
</div>
</div>
<script src="/js/script.js"></script>
